# 1 Introduction to R: Lab Exercises

Welcome to your first hands-on lab in **R**. Below are a series of exercises designed to introduce you
to some of the fundamental concepts in R, such as printing to the console, working with variables,
vectors, and performing operations in R. For the final part of the tutorial, you will write a script
to create a simple data frame. Letâ€™s get started!

## 1.1 Printing to the Screen

In **R**, you can print output to the screen using the `print()` function.

### 1.1.1 Example

Printing a Message to the Console

```r
print("Welcome to Time Series Analysis!")
```

**Output**:

```bash
[1] "Welcome to Time Series Analysis!"
```

Now, you try it.

### 1.1.2 Cell 1: Code

Exercise 1: Print the `Welcome to Time Series Analysis!` message to the console.

In [11]:
print("Welcome to Time Series Analysis!")

[1] "Welcome to Time Series Analysis!"

## 1.2 Setting and Listing Variables

Variables in R can store numbers, text, or more complex data types. You can also list all variables
in the environment using the `ls()` function.

### 1.2.1 Example

Create two variables and list them

```r
# Assign values to variables
x <- 10
y <- 5
# List all variables
ls()
```

**Output**:
<style>
.list-inline {list-style: none; margin:0; padding: 0}
.list-inline>li {display: inline-block}
.list-inline>li:not(:last-child)::after {content: "\00b7"; padding: 0 .5ex}
</style>
<ol class=list-inline><li>'x'</li><li>'y'</li></ol>

Now, create two variables and list them.

### 1.2.2 Cell 2: Code

Exercise 2: Create two variables `a` and `b`, then list them using the `ls()` function.

In [12]:
# Assign values to variables
x <- 10
y <- 5
# List all variables
ls()

[1] "seq1" "v1"   "v2"   "x"    "y"

## 1.3 Working with Vectors

Vectors are the most basic data structure in R. You can create a vector using the `c()` function.

### 1.3.1 Example

Creating two vectors

```r
v1 <- c(1, 2, 3, 4, 5)
v2 <- c(10, 9, 8, 7, 6)
```

There won't be any output when you run the code above.

Now, create your own vectors.

### 1.3.2 Cell 3: Code

Exercise 3: Create two vectors `v1` and `v2` with 5 elements each.

In [13]:
v1 <- c(1, 2, 3, 4, 5)
v2 <- c(10, 9, 8, 7, 6)

## 1.4 Creating Sequences

You can generate a sequence of numbers using the `seq()` function.

### 1.4.1 Example

Generate a sequence from $1$ to $20$ with a step size of $2$

```r
seq1 <- seq(1, 20, by = 2)
```

There won't be any output when you run the code above.

Now, generate your own sequence.

### 1.4.2 Cell 4: Code

Exercise 4: Create a sequence from $1$ to $20$ with step size $2$ and assign it to `seq1` array variable.

In [14]:
seq1 <- seq(1, 20, by = 2)

## 1.5 Comparing Vectors

You can compare vectors element-wise in **R** using comparison operators like `>`, `<`, `==`, etc.

### 1.5.1 Example

Compare vectors

```r
v1 > v2
```

**Output:**

<style>
.list-inline {list-style: none; margin:0; padding: 0}
.list-inline>li {display: inline-block}
.list-inline>li:not(:last-child)::after {content: "\00b7"; padding: 0 .5ex}
</style>
<ol class=list-inline><li>FALSE</li><li>FALSE</li><li>FALSE</li><li>FALSE</li><li>FALSE</li></ol>

Now, compare your vectors.

### 1.5.2 Cell 5: Code

Exercise 5: Compare vectors `v1` and `v2` vectors.

In [15]:
v1 > v2

[1] FALSE FALSE FALSE FALSE FALSE

## 1.6 Selecting Individual Vector Elements

You can select individual elements or slices of a vector using square brackets `[]`.

### 1.6.1 Example

Selecting the $3^{\text{rd}}$ element from `v1` vector.

```r
v1[3]
```

**Output:**

```bash
3
```

Now, select the an element from your vector.

### 1.6.2 Cell 6: Code

Excercise 6: select the element from $3^{\text{rd}}$ position from `v1` vector.

In [16]:
v1[3]

[1] 3

## 1.7 Selecting Multiple Vector Elements

You can select multiple elements from a vector using the `:` operator. In **R**, the `:` operator is known as the sequence operator. It creates a sequence of numbers.

### 1.7.1 Example

Select elements from position $2^{\text{nd}}$ and $4^{\text{th}}$ from `v2` vector.

```r
v2[2:4]
```

**Output:**

<style>
.list-inline {list-style: none; margin:0; padding: 0}
.list-inline>li {display: inline-block}
.list-inline>li:not(:last-child)::after {content: "\00b7"; padding: 0 .5ex}
</style>
<ol class=list-inline><li>9</li><li>8</li><li>7</li></ol>

Now, select elements from your vectors.

### 1.7.2 Cell 7: Code

Exercise 7: Select the $2^{\text{nd}}$ to $4^{\text{th}}$ elements of `v2` vector.

In [17]:
v2[2:4]

[1] 9 8 7

## 1.8 Performing Vector Arithmetic

You can perform element-wise arithmetic operations on vectors using the `+`, `-`, `*`, and `/` operators.

### 1.8.1 Example

Perform element-wise addition

```r
v1 + v2
```

**Output:**

<style>
.list-inline {list-style: none; margin:0; padding: 0}
.list-inline>li {display: inline-block}
.list-inline>li:not(:last-child)::after {content: "\00b7"; padding: 0 .5ex}
</style>
<ol class=list-inline><li>11</li><li>11</li><li>11</li><li>11</li><li>11</li></ol>

Now, perform arithmetic on your vectors.

### 1.8.2 Cell 8: Code

Exercise 8: Perform element-wise addition of `v1` and `v2` vectors.

In [18]:
v1 + v2

[1] 11 11 11 11 11

## 1.9 Operator Precedence

R follows standard operator precedence rules when evaluating expressions.

### 1.9.1 Example

Evaluate this expression

```r
(5 + 3) * 2 - 4^2
```

**Output:**

```bash
0
```

Now, evaluate the expression below.

### 1.9.2 Cell 9: Code

Exercise 9: Evaluate the expression $(5 + 3) \times 2 - 4^2$ in R.

In [19]:
(5 + 3) * 2 - 4^2

[1] 0

## 1.10 Creating a DataFrame (Script Part)

In R, data frames are used to store tabular data. In this exercise, you will create a data frame with
named columns.

### 1.10.1 Example

Create a data frame with three columns: Name, Age, and Salary

```r
df <- data.frame(
    Name = c("John", "Jane", "Alex"),
    Age = c(25, 30, 28),
    Salary = c(40000, 50000, 45000)
)
# Print the data frame
df
```

**Output:**

<table class="dataframe">
<caption>A data.frame: 3 x 3</caption>
<thead>
	<tr><th scope=col>Name</th><th scope=col>Age</th><th scope=col>Salary</th></tr>
	<tr><th scope=col>&lt;chr&gt;</th><th scope=col>&lt;dbl&gt;</th><th scope=col>&lt;dbl&gt;</th></tr>
</thead>
<tbody>
	<tr><td>John</td><td>25</td><td>40000</td></tr>
	<tr><td>Jane</td><td>30</td><td>50000</td></tr>
	<tr><td>Alex</td><td>28</td><td>45000</td></tr>
</tbody>
</table>

Now, create your own data frame:

### 1.10.2 Cell 10: Code

Exercise 10: Create a data frame with the following structure: 

| Name | Age | Salary |
| ---- | --- | ------ |
| John | 25 | 40000 |
| Jane | 30 | 50000 |
| Alex | 28 | 45000 |

In [21]:
df <- data.frame(
    Name = c("John", "Jane", "Alex"),
    Age = c(25, 30, 28),
    Salary = c(40000, 50000, 45000)
)

df

  Name Age Salary
1 John 25  40000
2 Jane 30  50000
3 Alex 28  45000